<!DOCTYPE html>
<html>
<head>
  <title>Lawn mower</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="icon" type="image/png" href="assets/favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="vendor/normalize.css"/>
  <link rel="stylesheet" type="text/css" href="css/lawnmower<%= min %>.css"/>
  <script src="vendor/browser-polyfill<%= min %>.js"></script>
  <script src="vendor/react<%= min %>.js"></script>
  <script src="vendor/Flux<%= min %>.js"></script>
  <script src="js/lawnmower<%= min %>.js"></script>
</head>
<body></body>
</html>
